@page
@model optimization.Pages.Branch.EditModel
@{
}

<h1>Edit Branch</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Branch.ID" />
            <div class="form-group">
                <label asp-for="@Model.Branch.Name" class="control-label"></label>
                <input asp-for="@Model.Branch.Name" class="form-control" />
                <span asp-validation-for="@Model.Branch.Name" class="text-danger"></span>
            </div>
            &nbsp
            <div class="form-group">
                <label asp-for="@Model.Branch.Address" class="control-label"></label>
                <textarea asp-for="@Model.Branch.Address" class="form-control"></textarea>
                <span asp-validation-for="@Model.Branch.Address" class="text-danger"></span>
            </div>
            &nbsp
            <div class="form-group">
                <label asp-for="@Model.Branch.PhoneNumber" class="control-label"></label>
                <input asp-for="@Model.Branch.PhoneNumber" class="form-control" />
                <span asp-validation-for="@Model.Branch.PhoneNumber" class="text-danger"></span>
            </div>
            &nbsp
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page-handler="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
