@page
@model optimization.Pages.Employee.CreateModel
@{
}
<h1>New Employee</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Employee.BranchID" class="control-label"></label>
                <select asp-for="@Model.Employee.BranchID" asp-items="@Model.BranchIDs" class="form-select"></select>
                <span asp-validation-for="@Model.Employee.BranchID" class="text-danger"></span>
                @if(@Model.message != null)
                    {
                        <span class="text-danger">@Model.message</span>
                    }
            </div>
            &nbsp
            <div class="form-group">
                <label asp-for="@Model.Employee.Email" class="control-label"></label>
                <input asp-for="@Model.Employee.Email" class="form-control" />
                <span asp-validation-for="@Model.Employee.Email" class="text-danger"></span>
            </div>
            &nbsp
            <div class="form-group">
                <label asp-for="@Model.Employee.Password" class="control-label"></label>
                <input asp-for="@Model.Employee.Password" class="form-control" />
                <span asp-validation-for="@Model.Employee.Password" class="text-danger"></span>
            </div>
            &nbsp
            <div class="form-group">
                <label asp-for="@Model.Employee.ConfirmPassword" class="control-label"></label>
                <input asp-for="@Model.Employee.ConfirmPassword" class="form-control" />
                <span asp-validation-for="@Model.Employee.ConfirmPassword" class="text-danger"></span>
            </div>
            &nbsp
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page-handler="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
