@page
@model optimization.Pages.Customer.IndexModel
@{
}
<style>
        
#videoDiv2 {width: 100%; max-width:2400px; margin:auto; display:block; position: relative;} /* This has been changed */
#video2{width:100%; height:auto} /* This has been changed */
#videoMessage2 { position: absolute; top: 0; left: 0;
display: flex;
flex-direction: column; 
justify-content: center;
align-items: center; 
width: 100%;
}

    </style>
    <div class="content">

<div id="videoDiv2"> 
<video src="https://static.videezy.com/system/resources/previews/000/039/580/original/Plexus-Background-White.mp4" autoplay loop playsinline muted></video>
    <div id="videoMessage2" class="styling">
        
    
 <h1>Customers</h1>

<p>
 <a asp-page-handler="Create" class="btn btn-outline-info">Create New </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.Customer.ID)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Customer.Name)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Customer.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Customer.Address)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Customer.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Customers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                 <a asp-page-handler="Edit" class="btn btn-success" asp-route-id="@item.ID">Edit</a> |
                <a asp-page-handler="Delete" class="btn btn-danger" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
 

     </div>   
    </div>

